body{
    background-color: rgb(33, 105, 117);
}
p{
    text-align: center;
    color: aliceblue;
}
h1{
    text-align: center;
    color: aliceblue;
}
h2{
    color: aliceblue;
}
h3{
    color: aliceblue;
}
img{
    height: 200px; width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}